[submodule "subprojects/paho_mqtt"]
	path = subprojects/paho_mqtt
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "subprojects/luacpp"]
	path = subprojects/luacpp
	url = https://github.com/jordanvrtanoski/luacpp
[submodule "subprojects/yaml_cpp"]
	path = subprojects/yaml_cpp
	url = https://github.com/jbeder/yaml-cpp
