[submodule "subprojects/paho_mqtt"]
	path = subprojects/paho_mqtt
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "subprojects/luacpp"]
	path = subprojects/luacpp
	url = https://github.com/jordanvrtanoski/luacpp
[submodule "subprojects/yaml_cpp"]
	path = subprojects/yaml_cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "subprojects/sol2"]
	path = subprojects/sol2
	url = https://github.com/ThePhD/sol2
[submodule "subprojects/catch2"]
	path = subprojects/catch2
	url = https://github.com/catchorg/Catch2
[submodule "subprojects/catch2/repo"]
	path = subprojects/catch2/repo
	url = https://github.com/catchorg/Catch2
